@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-8px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

.animicon1 {
    transform: translatey(0px);
	animation: float 8s ease-in-out infinite;
}
.animicon2 {
    transform: translatey(0px);
	animation: float 7s ease-in-out infinite;
    animation-delay: 0.2s;
}

.social-svg-mask {
    
    fill: #FFF !important;

}
.social-svg-mask :hover {
    fill: #F26A2E !important;
    transition-duration: 300ms;
}